a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
/*.btn-success {
    color: #4CAF50;
   text-align:center;

}
*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Inter', sans-serif;
    counter-reset: Serial;
}
.e-bigger {
    font-size: x-large;
}


.btn {
    font-family: 'Inter', sans-serif;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    margin: 6px;
    align-content:center;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
/*loader*/
.loaderbody {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(128,128,128,0.2);
    z-index: 2147483647;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 45%;
    left: 40%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}

/*---------------Leave type Box-----------*/

/*Radio Button Group*/
.e-btn-group.custom-rbt-group {
    width: 90%;
}

    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(255,157,0);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #494545;
    color: #FF9900;
    border: 1px solid #fff;
}

/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #FFA900;
    /* Label color*/
}

    .widget.summary > div:first-child {
        background-color: #FF8700;
        /* Icon Background */
        padding: 2rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

        .widget.summary > div:first-child i {
            font-weight: bold;
        }

    .widget.income > div:first-child {
        color: #494545;
        /* icon color*/
    }

    .widget.expense > div:first-child {
        color: #494545;
    }

    .widget.balance > div:first-child {
        color: #494545;
    }

    .widget.chart {
        padding: 5px;
    }

    /* Auto incriment in serial Number*/
table {
    border-collapse: separate;
}

/*tr td:first-child:before {
    counter-increment: Serial;*/ /* Increment the Serial counter */
    /*content: " " counter(Serial);*/ /* Display the counter */
/*}*/

