@model IEnumerable<ProjectOne.Models.Logger>

@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<!DOCTYPE html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Foldit:wght@700&display=swap" rel="stylesheet">
</head>
<body style=" background-color:#D21312">
    <div style="background-color: #D21312; width:500px; margin: 20% 0px 0px 32%; opacity:70%">
    <h1 style=" font-family: 'Foldit', cursive; font-size:100px; text-align:center; ">Error 404</h1>
    </div>
</body>

